<h2>{{movie.title}}</h2>

<p>Genre: {{movie.genre}}</p>

<p>Plot: {{movie.plot}}</p>

<ul>
  {{#each movie.cast}}
    <li>{{name}} - {{occupation}} - "{{catchPhrase}}"</li>
  {{/each}}
</ul>

<form action='/movies/{{movie.id}}/delete' method='POST'>
  <button type='submit'>Delete Movie</button>
</form>

<a href='/movies/{{movie.id}}/edit' class='btn btn-primary'>Edit</a>